body {
	  -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
	  
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-image: linear-gradient(#FFFFFF, #FFFFFF);
	  margin: 0;
	  padding: 0;
	  font-family: system-ui, sans-serif;
}

main {
	display: flex;
	flex-direction: row;
	width: 100vw;
}

.logo_main {
	        height: 6vw;
	        position: fixed;
	        left: 10px;
	        top: 5px;
			z-index: 6;
}

#store-area {
	width: 20vw;
	height: 100vh;
	background-color: #EDEDED;
}

#game-area {
	width: 80vw;
	height: 100vh;
	text-align: center;
}

#buy-menu {
	display: flex;
	flex-direction: column;
	height: 90vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

.store-entry {
	display: block;
	box-sizing: border-box;
	list-style: none;
	background-color: #E1E1E1;
	width: 100%;
	height: fit-content;
	padding: .1vh .2vh;
}

.store-entry span {
	display: block;
	text-align: center;
	font-size: 2vh;
}

.store-entry div {
	display: block;
	text-align: center;
	font-size: 3vh;
}

#bank {
	height: 10vh;
	width: 100%;
	text-align: center;
}
#bank span {
	display: block;
}
#problem-area {
	height: 60vh;
	width: 100%;
	box-sizing: border-box;
	background-color: #FEFEFE;
	padding: 5vh 10vw 5vh 10vw;
}

#problem-span {
	font-size: 8vh;
}

#input-area {
	height: fit-content;
	width: 100%;
	padding: 0;
	background-color: #E0EEE0;
}

#type-input {
	font-size: 8vh;
}