body {
	margin: 0;
	-webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */  
}

.logo_main {
	        height: 6vw;
	        position: fixed;
	        right: 10px;
	        top: 5px;
			z-index: 6;
}

.tdiv-in-progress {
		width: 100%;
		min-width: 60px;
		margin: auto;
		box-sizing: border-box;
		background-color: #e3e2a3;	
		font-family: "sans-serif", "Tahoma";
		font-size: 2em;
		font-weight: bold;
		padding: 10px 10px;
}

.tdiv-failure {
		width: 100%;
		min-width: 60px;
		margin: auto;
		box-sizing: border-box;
		background-color: #eb9494;	
		font-family: "sans-serif", "Tahoma";
		font-size: 2em;
		font-weight: bold;
		padding: 10px 10px;
}

.tdiv-success {
		width: 100%;
		min-width: 60px;
		margin: auto;
		box-sizing: border-box;
		background-color: #92e0a3;	
		font-family: "sans-serif", "Tahoma";
		font-size: 2em;
		font-weight: bold;
		padding: 10px 10px;
}


.word-span {
	color: #707070;
}

.type-span {
	color: #3eab26;
}

.fail-span {
	color: #e63535;
}

.ui {
	margin: auto;
	width: 100%;
	box-sizing: border-box;
	border-color: #5d85e3;
	border-width: 2px;
	border-style: solid;
	padding: 0px 0px 10px 0px;
}

.typer-info {
	display: inline-block;
	font-weight: bold;
	font-size: 2em;
	font-family: "Fantasy";
	margin-left: 10px;
}


.health-div {
	padding: 10px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.heart-svg {
	width: 50px;
	display: inline-flex;
}

.health-bar-outline {
	margin: 0px 20px;
	width: 300px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

.health-bar {
	width: 300px;
	height: 1.5em;
	background-color: red;
}

.health-text {
	display: block;
	font-family: monospace;
	width: fit-content;
	font-size: 1.5em;
}

.player-user-text {
	color: blue;
	font-weight: bold;
}

.enemy-user-text {
	color: red;
	font-weight: bold;
}

.message-text {
	
}

.message-box {
	
}

.death-announce-text {
	color: #cc0815;
	font-weight: bold;
}

.exit-announce-text {
	color: #a2d923;
	font-weight: bold;
}

.entrance-announce-text {
	color: #0bde43;
	font-weight: bold;
}


#store-area {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ccc;
  display: flex;
}

#store-bank {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
}

#store-text-credits {
	display: inline-flex;
	font-family: "sans-serif", "Tahoma";
	font-size: 3.5em;
	font-weight: bold;
	display: inline-block;
}

#store-img-credits:after {
	display: inline-flex;
	width: 5em;
	height: 5em;
	content: '';
	background-size: 5em 5em;
	background-image: url('svg/monster_finger.svg');
}

#store-btn-health {
	height: 100px;
	width: 100px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	display: inline-block;
	background-color: red;
}

#game-area {
	margin: auto;
	width: fit-content;
}

#chat-area {
	height: 5em;
	display: flex;
	flex-direction: column-reverse;
	overflow-y: scroll;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

#player-stage {
	width: 600px;
	box-sizing: border-box;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	display: inline-block;
}

#monster-stage {
	width: 600px;
	box-sizing: border-box;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	display: inline-block;
}

#level-down-btn {
	display: inline-block;
	margin-left: 20px;
	font-size: 1.5em;
}

#level-up-btn {
	display: inline-block;
	font-size: 1.5em;
}

#player-ui {

}

#player-health-bar-outline {

}

#player-health-bar {

}

#monster-ui {
	
}

#monster-health-bar-outline {

}

#monster-health-bar {
	background-color: purple;
}