.logo_main {
	        height: 6vw;
	        position: fixed;
	        left: 10px;
	        top: 5px;
			z-index: 6;
}

.tdiv-in-progress {
		width: fit-content;
		min-width: 60px;
		margin: auto;
		background-color: #e3e2a3;	
		font-family: "sans-serif", "Tahoma";
		font-size: 2em;
		padding: 10px 10px;
}

.tdiv-failure {
		width: fit-content;
		min-width: 60px;
		margin: auto;
		background-color: #eb9494;	
		font-family: "sans-serif", "Tahoma";
		font-size: 2em;
		padding: 10px 10px;
}

.tdiv-success {
		width: fit-content;
		min-width: 60px;
		margin: auto;
		background-color: #92e0a3;	
		font-family: "sans-serif", "Tahoma";
		font-size: 2em;
		padding: 10px 10px;
}


.word-span {
	color: #707070;
}

.type-span {
	color: #3eab26;
}

.fail-span {
	color: #e63535;
}

#player-ui {
	width: 100%;
	border-color: #5d85e3;
	border-width: 2px;
	border-style: solid;
	padding: 10px 0px;
}

#player-health-bar-outline {
	width: 300px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	margin: auto;
}

#player-health-bar {
	width: 300px;
	height: 1em;
	background-color: red;
}