#grid {
  transform: rotateX(55deg) rotateZ(45deg);
  transform-style: preserve-3d;
  width: fit-content;
  margin: 0;
  position: fixed;
  top: calc(50vh - 100px);
  left: calc(50vw - 175px);
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.tile {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: green;
  margin: 0;
  border: 1px solid black;
  z-index: 1;
}

.alien {
	position: absolute;
	width: 50px;
	height: 50px;
	transform:  translateZ(40px) translateX(-20px) translateY(20px) rotateZ(-45deg) rotateX(-55deg); 
	z-index: 3;
}

.base {
	position: absolute;
	width: 40px;
	height: 40px;
	transform:  translateZ(40px) rotateZ(-45deg) rotateX(-55deg); 
	z-index: 2;
}

.tower {
	position: absolute;
	width: 40px;
	height: 40px;
	transform:  translateZ(75px) rotateZ(-45deg) rotateX(-55deg); 
	z-index: 2;
}


.towerAttachment {
	position: absolute;
	width: 40px;
	height: 40px;
	transform:  translateZ(95px) rotateZ(-45deg) rotateX(-55deg); 
	z-index: 2;
}