body {
	  -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
	  
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-image: linear-gradient(#FFFFFF, #FFFFFF);
}

#Player {
	height: 10vh;
	width: 10vh;
	position: fixed;
	top: 45vh;
	left: calc(50vw - 5vh);
	z-index: 3;
}

#Arrow {
	height: 20vh;
	width: 20vh;
	position: fixed;
	bottom: 35vh;
	left: 40vw;
	transform: rotate(0rad);
	z-index: 2;
}

#HeartCoin {
	width: 5vh;
	height: 5vh;
	position: fixed;
	top: -10vh;
}

#Score {
	color: #22FF22;
}

#Health {
	color: #FF2222;
}

#HighScore {
	color: #FF22FF;
}

#TopBox {
	top: 0;
	left: 0;
}

#BottomBox {
	left: 0;
	bottom: 0;
}

.fallingVert {
	background-color: #333333;
	height: 10vh;
	width: 1vh;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.ui {
  background-color: #EEEEEE;
  padding: 0 20px;
  text-align: center;
  position: fixed;
  z-index: 4;
}

.ui-p {
	color: black;
	font-size: 1em;
	margin: 0;
}

.logo_main {
	        height: 2em;
	        position: fixed;
	        right: 15px;
	        top: 5px;
			bottom: 5px;
			z-index: 4;
}
