body {
	  -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
	  
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-image: linear-gradient(#FFFFFF, #FFFFFF);
}

#Player {
	height: 10vh;
	width: 10vh;
	position: fixed;
	top: 45vh;
	left: calc(50vw - 5vh);
	z-index: 3;
}

#head-hat {
	height: 10vh;
	width: 10vh;
	position: fixed;
	z-index: 4;
}

#Arrow {
	height: 20vh;
	width: 20vh;
	position: fixed;
	bottom: 35vh;
	left: 40vw;
	transform: rotate(0rad);
	z-index: 2;
}

#HeartCoin {
	width: 5vh;
	height: 5vh;
	position: fixed;
	top: -10vh;
	z-index: 3;
}

#Coin {
	width: 5vh;
	height: 5vh;
	position: fixed;
	top: -10vh;
	z-index: 3;
}

#Score {
	color: #22FF22;
}

#Health {
	color: #FF2222;
}

#Health::after {
	content: "❤️";
}

#Coins {
	color: #d9e021;
}

#Coins::after {
	content: "🪙";
}

#HighScore {
	color: #FF22FF;
}

#TopBox {
	top: 0;
	left: 0;
}

#BottomBox {
	left: 0;
	bottom: 0;
}

#store-button {
	background-color: red;
	height: 2em;
	width: 2em;
	position: fixed;
	right: calc(2em + 15px);
	top: 5px;
	z-index: 6;
}


.fallingVert {
	background-color: #333333;
	height: 10vh;
	width: 1vh;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.ui {
  background-color: #EEEEEE;
  padding: 0 20px;
  text-align: center;
  position: fixed;
  z-index: 5;
}

.ui-p {
	color: black;
	font-size: 1em;
	margin: 0;
}

.logo_main {
	        height: 2em;
	        position: fixed;
	        right: 15px;
	        top: 5px;
			z-index: 6;
}

/* Hat Editor */

	.anchor {
		fill-opacity: 0.5;
	}
	
	.editor-svg {
		position: absolute;
		top: 2px;
		left: 2px;
		bottom: 0;
		height: 400px;
		width: 400px;

	}
	
	.button-svg {
		height: 100%;
	}
	
	.button-svg-delete {
		height: 100%
	}
	
	#outer {
		display: flex;
		flex-direction: column;
		padding: 10px;
		background-color: black;
		margin-left: calc(50% - 250px);
		margin-top: 2em;
		position: absolute;
		z-index: 5;
	}
	
	#editor-div {
		display: flex;
		width: fit-content;
	}
	
	#inner {
		width: 404px;
		height: 404px;
		position: relative;
		display: inline-block;
		background-color: #EEEEEE;
	}
	
	#shape-select {
		width: 404px;
		height: 101px;
		padding: 0;
		margin: 0 0 0 0;
		background-color: #EEEEEE;
	}
	
	#shape-select li{
		background-color: #EEEEEE;
		float: left;
		display:block;
		height: 101px;
		width: 101px;
		font-size: 14px;
		font-family: monospace;
		text-align: center;
		
	}
	
	.shape-button svg{
		margin-top: -16px;
	}
	
	.shape-button span::after{
		content: "🪙";
	}
	
	
	#color-picker {
		float: right;
		margin-left: 10px;
		height: 516px;
		width: 70px;
		background-color: #EEEEEE;
	}
	#buy-menu {
		padding: 0;
		margin-bottom: 10px;
		width: 100%;
	}
	
	#buy-menu ul{
		background-color: #EEEEEE;
		font-size: 30px;
		text-align: center;
		font-family: monospace;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	
	#buy-menu li{
		display: inline-block;
		padding: 10px 10px;
		margin: 0;
	}
	
	table {
		width: 100%;
		height: 100%;
		border: 0;
		border-spacing: 0px;
	}
	
	tr {
		height: 4%;
	}