html {
	margin: 0;
	padding: 0;
	background-color: #222222;
	font-family: serif;
	font-size: 20px;
}

main {
	min-height: calc(100vh - 6em);
	margin-top: 3em;
	margin-left: 60px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 60px;
}

body {
	margin: 0;
	padding: 0;
}

	        
h1, h2{
	color: #EEEEEE;
	font-size: 1.5em;
	margin-top: 15px;
	margin-bottom: 5px;
}

header {
	display: block;
	top: 0;
	margin:0;
	padding: 0;
	background-color: #000000;	
	position: fixed;
	height: 3em;
	width: 100%;
}



header h1{
	text-align: center;	
	color: #EEEEEE;
	margin: 0;
	font-size: 2em;
	padding: 0.2em 0;

}


p {
	color: #EEEEEE;
	font-size: 1em;
}

p a {
	color: #FF82C6;
	text-decoration: underline;
	font-size: 1em;
}

p a:visited {
	color: #CF5296; 
}


p a::after {
	display: inline-block;
	padding-left: 2px;
	text-decoration: underline #82c3cb;
	content: "⛴";
}

p a:hover {
	color: #EEEEEE;
}

p a:hover::after {
	text-decoration: underline #EEEEEE;
}

iframe {
	max-width: 100%;
}

.logo_main {
	        height: 2.5em;
	        position: fixed;
	        right: 0.5em;
	        top: 0.2em;
}

#nav_button {
	        height: 2.5em;
	        position: fixed;
	        left: 15px;
	        top: 0.2em;
			width: 30px;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  background-color: #000000;
  float: left;
  overflow: hidden;  
  height: 100%;
  width: 60px;
  position: fixed;
}

nav ul:first-child{
	margin-top: 3em;
}

nav li a{
	display: block;
	padding: 6px 3px;
	color: #EEEEEE;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
}

nav li a img{
	margin: 0px 3px 0px 3px;
}

.active{
	background-color: #222222;
}

nav li a:hover{
	background-color: #222222;
}

footer {
	width: calc(100% - 60px);
	background-color: #000000;
	bottom: 0px;
	margin-left: 60px;
	text-align: center;

}

footer p{
	font-size: 18px;
	margin: 0;
	padding: 15px 0 15px 0px;
}

.page-body{
	display: block;
	background-color: #131313;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 15px;
}

.page-head{
	display: block;
	background-color: #1A1A1A;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 12px 15px;
}

.page-desc{
	display: block;
	background-color: #131313;
	margin-top: 0;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 10px;
	padding: 10px 15px 10px 15px;
	
}

.page-desc p{
	padding: 0;
	margin: 0;
}

.page-body p{
	margin-bottom: 0;
	margin-top: 10px;
}

.card{
	background-color: #222222;
	display:block;
	min-height: 126px;
	padding: 10px;
	text-decoration: none;
	margin-top: 10px;
}

.card > div{
	margin: 0;
	padding: 0;
}

.card:first-child{
	margin-top: 0;
}


.card-text {
	display: block;
}

.card-text p{
	margin: 10px 10px 10px 0px;
}


.card:hover {
	background-color: #2B2B2B;
}

.card-img-container {
	display: block;
}

.card-img{
	height: 126px;
	float: left;
	padding: 0;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
	object-fit: cover;
	max-width: 100%;
}

.card-title{
	display:block;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0px;
	padding-bottom: 5px;
	color: #EEEEEE;
}


.dir {
	margin-top: 10px;
	writing-mode: vertical-rl;
	overflow: hidden;
}

#pwd {
	color: #EEEEEE;
	font-family: "Courier New";
	margin-left: 22px;
	font-size: 14px;
}