* {
	font-family: serif;
	font-size: 20px;
}

html {
	margin: 0;
	padding: 0;
	background-color: #222222;
}

main {
	margin-left: 120px;
	padding-left: 25px;
}

body {

	margin: 0;
	padding: 0;
	height: 100vh;
}

	        
h1, h2{
	color: #EEEEEE;
	font-size: 2em;
	margin-top: 15px;
	margin-bottom: 5px;
}

header {
	
	background-color: #000000;	
}


header h1{

	text-align: center;	
	color: white;
	margin: 0;
	font-size: 8vh;

}

p {
	color: #EEEEEE;
}

p a {
	color: #FF82C6;
	text-decoration: underline;

}

p a:visited {
	color: #CF5296; 
}


p a::after {
	display: inline-block;
	padding-left: 2px;
	text-decoration: underline #82c3cb;
	content: "⛴";
}

p a:hover {
	color: #EEEEEE;
}

p a:hover::after {
	text-decoration: underline #EEEEEE;
}

.logo_main {
	        height: 7%;
	        position: absolute;
	        right: 15px;
	        top: 5px;	
}

@media (max-height: 500px) {
	header h1{
		font-size: 2.4em;	
	}

	.logo_main {
		top: 3px;
		height: 25px; 
	}
}

nav{
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2B2B2B;
  position: fixed;
  overflow: hidden;  
  height: 100%;
  width: 120px;
}

nav li{
}

nav li a{
	display: block;
	padding: 20px 20px;
	color: #EEEEEE;
	text-decoration: none;
}

nav li a:hover{
	background-color: #444444;
}

footer {
	position: fixed;
	background-color: #000000;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

footer p{
	margin: 15px 0px;
	font-size: 18px;
}
