* {
	font-family: serif;
	font-size: 20px;
	color: #EEEEEE;
}

html {
	margin: 0;
	padding: 0;
	background-color: #1A1A1A;
}

main {
	margin-top: calc(4em + 12px);
	margin-left: 90px;
	margin-right: 0px;
	margin-bottom: 0;
	padding-top: 0px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 55px;
	min-height: calc(100vh - 4em - 122px);
}

body {
	margin: 0;
	padding: 0;
}

	        
h1, h2{
	color: #EEEEEE;
	font-size: 2em;
	margin-top: 15px;
	margin-bottom: 5px;
}

header {
	top: 0;
	margin:0;
	padding: 0;
	background-color: #000000;	
	position: fixed;
	width: 100%;
}



header h1{
	text-align: center;	
	color: #EEEEEE;
	margin: 0;
	font-size: 4em;

}


p {
	color: #EEEEEE;
	font-size: 1em;
}

p a {
	color: #FF82C6;
	text-decoration: underline;
	font-size: 1em;
}

p a:visited {
	color: #CF5296; 
}


p a::after {
	display: inline-block;
	padding-left: 2px;
	text-decoration: underline #82c3cb;
	content: "⛴";
}

p a:hover {
	color: #EEEEEE;
}

p a:hover::after {
	text-decoration: underline #EEEEEE;
}

.logo_main {
	        height: 4em;
	        position: fixed;
	        right: 15px;
	        top: 5px;
			bottom: 5px;
}

nav{

}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  background-color: #000000;
  float: left;
  overflow: hidden;  
  height: 100%;
  width: 90px;
  position: fixed;
}

nav ul:first-child{
	margin-top: calc(4em + 10px);
}

nav li a{
	display: block;
	padding: 20px 0px;
	color: #EEEEEE;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
}

nav li a svg{
	margin: 0px 20px 2px 20px;
}

.active{
	background-color: #444444;
}

nav li a:hover{
	background-color: #444444;
}

footer {
	width: 100%;
	background-color: #000000;
	bottom: 0;
	left: 0;
	text-align: center;

}

footer p{
	font-size: 18px;
	margin: 0;
	padding: 15px 0 15px 90px;
}

.article-body{
	display: block;
	background-color: #171717;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 15px;
}

.article-head{
	display: block;
	background-color: #171717;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -25px;
	margin-right: -25px;
	padding: 15px;
}

.article-desc{
	display: block;
	background-color: #191919;
	margin-top: 0;
	margin-left: -25px;
	margin-right: -25px;
	margin-bottom: 10px;
	padding: 10px 15px 10px 15px;
	
}

.article-desc p{
	padding: 0;
	margin: 0;
}

.article-body p{
	margin-bottom: 0;
}

.article-body p:first-child{
	margin-top: 0;
}

#pwd {
	color: #EEEEEE;
	font-family: "Courier New";
	position: absolute;
	top: 1em;
	left: 20px;
}